/* Reset do CSS*/
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Bungee&family=Russo+One&display=swap');
* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}

h1,p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header {
    background-color: rgb(223, 187, 200);
    color: black;
    padding: 60px;
    text-align: center;
}

main {
    background-color: rgb(255, 228, 238);
    flex: 1;  
    padding: 48px 38px 48px 38px;
    width: 100%;
}

about-section {
    display: block;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}
    

#titulo-sobre-mim {
    font-size: 40px;
    width: 80%;
    background-color: #ffffff;
    border-bottom: 2px solid rgb(223, 187, 200);
}   

.texto-sobre-mim {
    font-size: 30px;
    width: 80%;
    background-color: #ffffff;
}